html {
  height: 100%;
  width: 100%;

  body
  {
    background-color:#d1d1d1;
 }
  
  h1{
    color:#000000;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif ;
    text-align:center;
  }

  p.hello {font: small-caps italic 20px georgia, serif;}
  
   /* h2{
    color:#000000;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif ;
    text-align:center;
  } */

  
}